{% load static %}
<link rel="stylesheet" href="{% static 'resume/assets/css/normalize.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/bootstrap.min.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/animations.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/owl.carousel.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/magnific-popup.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/dlmenu.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'resume/assets/css/main.css' %}" type="text/css">