{% load static %}
<script src="{% static 'resume/assets/js/jquery-2.1.3.min.js' %}"></script>
<script src="{% static 'resume/assets/js/modernizr.custom.js' %}"></script>
<script src="{% static 'resume/assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'resume/assets/js/bootstrap.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.shuffle.min.js' %}"></script>
<script src="{% static 'resume/assets/js/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'resume/assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'resume/assets/js/jquery.dlmenu.js' %}"></script>
<script src="{% static 'resume/assets/js/validator.js' %}"></script>
<script src="{% static 'resume/assets/js/main.js' %}"></script>