<!-- <section>
    <div class="p-30"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h2>Clients</h2>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div id="clients_a1adde6" class="clients owl-carousel loop-off autoplay-off" data-mobile-items="2" data-tablet-items="4" data-items="5">
          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 1">
              <img src="./img/clients/client-1.png" alt="Company 1">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 2">
              <img src="./img/clients/client-2.png" alt="Company 2">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 3">
              <img src="./img/clients/client-3.png" alt="Company 3">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 4">
              <img src="./img/clients/client-4.png" alt="Company 4">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 5">
              <img src="./img/clients/client-5.png" alt="Company 5">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 6">
              <img src="./img/clients/client-6.png" alt="Company 6">
            </a>
          </div>

          <div class="client-block">
            <a href="http://example.com" target="_blank" title="Company 7">
              <img src="./img/clients/client-7.png" alt="Company 7">
            </a>
          </div>
        </div>
      </div>
    </div>
</section> -->