<!-- <section>
    <div class="p-30"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h2>Fun Facts</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="fun-fact">
          <div class="fun-fact-icon">
            <i class="lnr lnr-heart"></i>
          </div>
          <span class="fun-fact-block-value">578</span>
          <h4>Happy Clients</h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="fun-fact">
          <div class="fun-fact-icon">
            <i class="lnr lnr-clock"></i>
          </div>
          <span class="fun-fact-block-value">4,780</span>
          <h4>Working Hours</h4>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="fun-fact">
          <div class="fun-fact-icon">
            <i class="lnr lnr-star"></i>
          </div>
          <span class="fun-fact-block-value">15</span>
          <h4>Awards Won</h4>
        </div>
      </div>
    </div>
  </section> -->