<!-- <section>
    <div class="p-30"></div>

    <div class="row">
      <div class="col-xs-12 col-sm-12">
        <div class="block-title">
          <h2>Pricing</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-4">
        <div class="fw-pricing">
          
          <div class="fw-package ">
            <div class="fw-heading-row">
              <h4>Silver</h4>
            </div>
        
            <div class="fw-pricing-row">
              <span>$64</span>
              <small>/month</small>
            </div>

            <div class="fw-button-row">
              <a href="http://example.com" target="_self" class="btn btn-secondary">Free Trial</a>
            </div>

            <div class="fw-default-row">Lorem ipsum dolor</div>

            <div class="fw-default-row">Pellentesque scelerisque</div>

            <div class="fw-default-row">Morbi eu sagittis</div>          
          </div>
        </div>
      </div>


      <div class="col-xs-12 col-sm-4">
        <div class="fw-pricing">
          <div class="fw-package highlight">
            <div class="fw-heading-row">
              <h4>Gold</h4>
            </div>
        
            <div class="fw-pricing-row">
              <span>$128</span>
              <small>/month</small>
            </div>

            <div class="fw-button-row">
              <a href="http://example.com" target="_self" class="btn btn-primary">Free Trial</a>
            </div>

            <div class="fw-default-row">Lorem ipsum dolor</div>

            <div class="fw-default-row">Pellentesque scelerisque</div>
            
            <div class="fw-default-row">Morbi eu sagittis</div>

            <div class="fw-default-row">Donec non diam</div>


          </div>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="fw-pricing">
          <div class="fw-package ">
            <div class="fw-heading-row">
              <h4>Platinum</h4>
            </div>
        
            <div class="fw-pricing-row">
              <span>$256</span>
              <small>/month</small>
            </div>

            <div class="fw-button-row">
              <a href="http://example.com" target="_self" class="btn btn-secondary">Free Trial</a>
            </div>

            <div class="fw-default-row">Lorem ipsum dolor</div>

            <div class="fw-default-row">Pellentesque scelerisque</div>

            <div class="fw-default-row">Morbi eu sagittis</div>

            <div class="fw-default-row">Donec non diam</div>

          </div>
        </div>
      </div>
    </div>
  </section> -->