{% load static %}
<div class="block-title">
    <h2>Certificates</h2>
  </div>  
  {% for certification in certification_list %}
  <!-- <a href="#" class="lightbox"> -->
    <div class="certificate-item clearfix">
      <div class="certi-logo">
        {% if certification.logo %}
        <img src="{{certification.logo.url}}" alt="{{certification.title}}">
        {% else %}
        <img src="{% static 'resume/assets/img/logo.png' %}" alt="{{certification.title}}">
        {% endif %}
      </div>
      
      <div class="certi-content">
        <div class="certi-title">
          <h4>{{certification.title}}</h4>
        </div>
        <div class="certi-id">
          <span>ID: {{certification.cert_id}}</span>
        </div>
        <div class="certi-id">
          <span>{{certification.date|date:'M Y'}}</span>
        </div>
        {% if certification.url %}
        <div class="certi-date">
          <span><a href="{{certification.url}}" target="_blank">View</a>
        </div>
        {% endif %}
      </div>
    </div>
  <!-- </a> -->
  {% endfor %}